<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Covid19 Project</title>
  <link rel="stylesheet" href="/static/style.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <div class="jumbotron text-center">
    <h1>Covid 19 Info</h1>
    <p>Use the interactive charts below to explore the dataset</p>
  </div>
  <!-- Add a dropdown menu for sorting -->
  <label for="sort-dropdown">Sort Order:</label>
  <select id="sort-dropdown" onchange="changeOrder(this.value)">
    <option value="ascending">Ascending</option>
    <option value="descending">Descending</option>
  </select>

  <!-- Add a container for the chart -->
  <div id="chart-container"></div>

  <div id="chart-container2" style="margin-top: 20px;">
    <canvas id="myChart"></canvas>
  </div>

  <div class="custom-container">
    <h3 class="custom-title">Cumulative Vaccinated people per Province</h3>
    <div class="custom-dropdown">
      <h5>Provinces:</h5>
      <select id="provinceDropdown" class="custom-dropdown" onchange="updateVaccineNumbers(this.value)"></select>
    </div>
  </div>
  
  <div class="custom-row">
    <div class="custom-col">
      <div class="custom-plot" id="plot"></div>
    </div>
    <div class="custom-col">
      <div class="custom-panel">
        <h3 class="custom-title">Vaccination Infomation</h3>
        <div id="sample-metadata"></div>
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-md-12">
      <div id="plot3" class="text-center"></div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>